@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roobert-Medium';
  src: url('/fonts/Roobert-Medium') format('woff2'),
       url('/fonts/Roobert-Medium') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert-Medium';
  src: url('/fonts/Roobert-Medium') format('woff2'),
       url('/fonts/Roobert-Medium') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Roobert-Medium', sans-serif;
}