@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roobert', sans-serif;
}

.option {
  color: #505050;
  cursor: pointer;
}

.option:hover {
  color: #ffffff;
}

.is--active {
  color: #ffffff;
}

.text{
  display: none;
  font-size: 3.75rem;
  line-height: 1;
}

.is--visible{
  display: inherit;
}
